/*
Theme Name: Moview
Theme URI: http://themeum.com/wordpress/moview
Author: Themeum
Author URI: http://themeum.com/
Description: Moview Premium Magazine Theme.
Version: 2.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, green, pink, purple, dark, right-sidebar, two-columns, responsive-layout
Text Domain: moview
*/

@import url('css/bootstrap.min.css');
@import url('css/font-awesome.css');
@import url('css/animate.css');
@import url('css/nanoscroller.css');
@import url('css/flexslider.css');
@import url('css/themeum-moview-font.css');
@import url('css/main.css');
@import url('css/prettyPhoto.css');
@import url('css/responsive.css');

.gallery-caption{}
.bypostauthor{}
#mailchimp-id{ display:none; }
.screen-reader-text{}
.btn-yellow .acton-btn:hover {
    background-color: #B8BF25;
}
.btn-yellow .acton-btn {
    color: #000;
    background-color: #cbd504;
    padding: 13px 28px;
    border-radius: 3px;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
}
.themeum-clients {
    background-color: #ecedee;
    padding: 70px 30px 30px 30px;
}
.client-image {
    display: block;
    float: right;
    top: -100px;
    position: relative;
}
.client-image img {
    width: 60px;
}
.client-name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    color: #2a303b;
}
h4.speaker-title, .speaker-designation {
    text-align: left;
    color: #424242;
}

/*=================================
 *=======    Coming Soon    =======
 *================================= */

.embed-responsive {
    width: 855px;
    margin: 150px auto;
}
 html {
  width: 100%;
  height: 100%;
 }

.comingsoon{
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
}

.comingsoon-content {
  margin-top: 100px;
}

#comingsoon-countdown .countdown-amount{
  display: block;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 700;
}
#comingsoon-countdown .countdown-period{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.comingsoon .sub-page-header{
  margin-top: 60px;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 400;
}

.comingsoon .soon-page-header {
  font-size: 72px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 5px;
  margin-bottom: 110px;
  color: #fff;
  text-transform: uppercase;
}

.countdown-days{
    color:#fff !important;
}
.countdown-hours{
    color:#fff !important;
}
.countdown-minutes{
    color:#fff !important;
}
.countdown-seconds{
    color:#fff !important;
}

.countdown-section:nth-child(1){
    background:#00aeef !important;
}
.countdown-section:nth-child(2){
    background:#ef4036 !important;
}
.countdown-section:nth-child(3){
    background:#f7941e !important;
}
.countdown-section:nth-child(4){
    background:#0e76bc !important;
}

.countdown-section {
  display: inline-block;
  margin: 0 60px 0 0;
  padding: 40px 0 20px 0;
  width: 200px;
  border: solid 15px #fff;
  border-radius: 5px;
  position: relative;
}

.comingsoon .days, 
.comingsoon .hours, 
.comingsoon .minutes, 
.comingsoon .seconds {
  display: block;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 700;
}
.countdown-section:after{
  position: absolute;
  content: url(images/coming-soon-count-down.png);
  top: -55px;
  left: 30px;
}

p.comingsoon-message-desc{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.comingsoon > div{
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.social-share ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.comingsoon .social-share ul li {
    display: inline-block;
    margin: 0 15px;
}

.comingsoon-footer {
  margin-top: 100px;
  margin-bottom: 70px;
}

.comingsoon .social-share li a {
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}
.comingsoon .social-share li a:hover {
    color: #fff;
}

.comingsoon-footer .copyright-text {
  font-size: 14px;
  color: #999999;
  margin: 35px 0 0;
}

.ads-style{
    margin: 10px 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: #0a0a0a;    
}
.cat-add{
    margin-bottom: 29px;
}

@media (min-width: 768px) and (max-width: 960px){ 
  .countdown-section {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .countdown-section {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 60px;
  }
  .comingsoon .soon-page-header {
    font-size: 36px;
  }
}


/* moview-single.php style css start */
.movie-info-warpper-tital{
    width: 1170px;
}
.movie-info-warpper{

}
.moview-info span.tag {
    margin: 0px 0px 10px;
    display: inline-block;
}
.movie-info {
  color: #fff;
  margin-left: 105px;
  margin-top: 350px;
  overflow: hidden;
  padding: 40px 0;
}
.movie-title {
  margin: 5px 0 15px;
  font-weight: 600;
  font-size: 22px;
}

.movie-title a{
  color: #000;
}

.rating-star{
    margin-top: 15px;
    color: #ffc000;
    font-size: 19px;
}
.rating-star > span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}
.moviedb-rating {
    direction: rtl;
    display: inline-block;
    font-size: 19px;
    unicode-bidi: bidi-override;
}
.moviedb-rating span.star {
  color: #ffc000;
  display: inline-block;
  font-family: "spmoviedb";
  font-style: normal;
  font-weight: normal;
}

.movie-social-icon {
  margin-top: 15px;
}
.movie-social-icon > span {
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}
.movie-social-icon ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.movie-social-icon ul li {
  display: inline-block;
}
.facebook, .facebook span {
  color: #0e76bc;
}

.pull-right {
  float: right;
}









/* Spotlight This Month post css start*/
/**************************************/
.moview-moviedb-addon-container{
  margin-top: 30px;
}

.moview-moviedb-addon{
  /*padding-bottom: 25px*/
}
.more-details{
  float: right;
  margin-top: -35px;
}

.mod-spmoviedb-tab{
  margin-top: 35px;
}

.movie-poster{
  margin-top: 0px;
}


/*Themeum trailers video post css start*/
/**************************************/

.moviedb-trailers-video{

}
.trailers-container{
/*  background-attachment: fixed;
  background-image: url("http://10.0.1.12/wordpress/moview/wp-content/uploads/2016/01/movie-cover1.jpg");
  background-size: cover;
  margin: 0;
  padding: 100px 0 120px;*/
}

/*title*/
.addon-moview-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
/*end*/
.trailers-videos {
  margin-top: 30px;
}
.moviedb-trailer{}
.trailer-image-wrap{
  overflow: hidden;
  width: 100%;
}
.play-video{}


.moviedb-trailer-item {
  float: left;
  padding-right: 30px;
  padding-top: 32px;
  width: 260px;
  margin-bottom: 125px;
}
.moviedb-trailer-img-single {
  height: 150px;
}
.moviedb-trailer-info-block{}
.moview-entry-title{
  font-weight: normal;
}

.moview-entry-title a{
  color: #000;
}
.moview-entry-title a:hover{
  color: #868686;
}
.moviedb-genry{}



/* themeum video css */
/*******************/

.video-post-thumb-wrap{}
.common-post-item{}
.overlay{}
.video-post-icon-large{}
.article-thumb{
  margin-bottom: 30px;
}
.common-post-item-in{}

.article-title{
    font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 16px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.article-title a{
  color: #000;
}
.article-title a:hover{
  color: #868686;
}

.mv-article-thumb{
  float: left;
  margin-right: 24px;
}
.mv-article-info{
  margin-bottom:32px;
}

.arties-movie-list{
  background: #ddd none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
}
.arties-movie-list:hover{
  background: #e32;
  color: #fff;
}

.mv-article-title{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.mv-article-title a{
  color: #000;
}
.mv-article-title a:hover{
  color: #868686;
}
.moview-article-meta{}
.mv-meta-date{
  font-size: 13px
}

.top-user-login{
  font-size: 14px;
}
.top-user-login i{
  font-size: 20px;
  margin-right: 10px;
}
.top-user-login img{
  margin-right: 10px;
  border-radius: 4px;
}
.review-page{
  color: #444;
}

.error-page-inner{
    width: 100%;
    height: 100%;
    display: table;
}
.error-page-inner >div {
    vertical-align: middle;
    display: table-cell;
}
.error-msg{
  text-align: center;
}
body.error404 {
  background-color: #444;
}
.error-message{
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin: 35px 0 45px 0;
}
.error-page-inner .btn-primary{
    font-size: 18px;
    line-height: 50px;
    padding: 0 30px;
}
.error-page-inner a.btn.btn-primary.btn-lg{
  font-size: 18px;
  line-height: 50px;
  padding: 0 30px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}
.error-page-inner a.btn.btn-primary.btn-lg:hover {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
}
.footer-wrap {
    background-color: #333;
}


.reviews-page .review-box {
    background: #edf6fc;
    padding: 30px;
    margin-left: 98px;
    position: relative;
    margin-bottom: 30px;
}
.reviews-page .date-time {
    margin: 5px 0px;
}



/* ***************************** */
/* ******** woocommerce ******** */
/* ***************************** */
.product-thumbnail-outer {
  margin-bottom: 30px;
}
.product-thumbnail-outer-inner {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.product-thumbnail-outer-inner img{
  width: 100%;
}
.product-thumbnail-outer-inner .addtocart-btn {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.40);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  transition: 400ms;
  -webkit-transition: 400ms;
}

.product-thumbnail-outer-inner:hover .addtocart-btn {
  opacity: 1;
  bottom: 0;
}

.woocommerce .product-thumbnail-outer-inner .addtocart-btn a {
  color: #fff;
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
}

.woocommerce .product-thumbnail-outer-inner .addtocart-btn a:hover {
  background: none;
}

.product-thumbnail-outer-inner .addtocart-btn i {
  margin: 0 8px;
  font-size: 14px;
  color: #fff;
}

.woocommerce-cart table.cart input {
  line-height: 22px;
}

.product-thumbnail-outer h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0 5px;  
}
.product-thumbnail-outer h3 a {
  color: #000;
  transition: 300ms;
  -webkit-transition: 300ms;
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price {
  font-size: 16px;
  font-weight: 500;
}

.woocommerce span.onsale {
  border-radius: 0;
  line-height: normal;
  top: 0;
  left: auto;
  right: 0;
  margin: 0;  
  min-height: auto;
  min-width: auto;
  padding: 5px 10px;  
}

.woocommerce a.button.loading {
  opacity: .8;
}

.woocommerce a.button.loading:after {
  top:0;
}

.woocommerce.woocommerce-page .site-content h1.page-title {
  display: none;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  width: 100%;
}

.woocommerce ul.products li.product .onsale {
     margin: 0; 
}

.woocommerce div.product div.images div.thumbnails {
  padding-top: 30px;
      margin-right: -15px;
}
.single-product-image {
  position: relative;
}
.single-product-details .product_title {
  font-size: 30px;
  font-weight: 300;
}

.single-product-details p.price .amount {
  font-size: 24px;
}

.single-product-details .price del .amount {
  font-size: 20px;
  margin-right: 10px;  
}

.woocommerce .quantity .qty {
    min-height: 41px;
    font-size: 18px;
    border-radius: 0px;
    margin: 0px -5px 0px -4px;
    padding: 0;
}
.woocommerce .quantity input,
.woocommerce .quantity button{
  display: inline-block;
}
.quantity .btn-minus {
  height: 41px;
  border: 1px solid #eee;
  background: transparent;
  border-right: 0;
  padding: 0px 15px;
  font-size: 20px;
}

.quantity .btn-plus {
  height: 41px;
  border: 1px solid #eee;
  background: transparent;
  border-left: 0;
  padding: 0px 15px;
  font-size: 18px;
}

input:focus, 
textarea:focus, 
keygen:focus, 
select:focus,
.woocommerce button.button,
button:focus{
    outline-offset: 0;
    outline: -webkit-focus-ring-color auto 0;
}

.woocommerce div.product form.cart {
  margin-top:22px;
}
.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
}
.single-product-details p.price {
  margin-bottom: 20px;
}
.woocommerce div.product form.cart div.quantity {
    float: left;
    margin-bottom: 25px;
    display: block;
    width: 100%;
}
.woocommerce-tabs .nav-tabs{
  border: 1px solid #eee;
  display: inline-block;
  width: 100%;
  padding: 0px 10px;
}
.product_meta .posted_in a {
  margin-left: 5px;
}

.woocommerce-tabs .nav-tabs>li.active>a, 
.woocommerce-tabs .nav-tabs>li.active>a:focus, 
.woocommerce-tabs .nav-tabs>li.active>a:hover {
  border: none;
  color: #000;
  background-color: transparent;
}

.woocommerce-tabs .nav>li>a:focus, 
.woocommerce-tabs .nav>li>a:hover,
.woocommerce-tabs .nav-tabs>li>a:hover {
  border: none;
  color: #000;
}
.woocommerce div.product .stock {
    font-weight: bold;
    margin-top: 10px;
}
.woocommerce-tabs .nav-tabs>li>a {
  color: #959595;
  border-radius: 0;
  margin-right: 0;
  border: none;
  transition: 300ms;
  font-weight: 500;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.woocommerce-tabs .tab-content h2 {
  font-size: 20px;
}

.woocommerce-tabs #comments {
  padding: 30px 0;
}

.upsells.products h2 {
  font-size: 20px;
}

.woocommerce #reviews #comments ol.commentlist {
  padding: 0;
  margin: 20px 0 0;  
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: auto;
  padding: 0;
  border: none;
  background: transparent;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  padding: 9px 2em 0; 
  border-radius: 0;  
}

.related.products .related-title {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 50px;
  padding: 0;
  margin-left: 0;
}

.woocommerce ul.cart_list li .amount, 
.woocommerce ul.product_list_widget li .amount {
  color: #ABABAB;
}

.woocommerce ul.cart_list li .reviewer, 
.woocommerce ul.product_list_widget li .reviewer {
  margin-top: 5px;
  display: block;
  font-size: 12px;
  color: #ABABAB;
}

.woocommerce div.product form.cart, 
.woocommerce div.product p.cart {
    margin-bottom: 1em;
}

.woocommerce span.onsale {
  background-color: #3E8023;
}

.woocommerce.widget_product_search .woocommerce-product-search input[type=search]{
  border: 1px solid #eee;
  padding: 10px 12px;
  font-size: 12px;
}

.woocommerce.widget_product_search .woocommerce-product-search input[type=submit] {
  background: transparent;
  border: 1px solid #eee;
  padding: 9px;
  color: #fff;
}

.woocommerce.widget_product_search .woocommerce-product-search .screen-reader-text {
  display: none;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #E6E6E6;
}

.woocommerce a.remove {
  width: auto;
  height: auto;
  border-radius: 0;
  font-size: 18px;
}

.woocommerce a.remove:hover {
  background: transparent;
  color: #000 !important;
}

.woocommerce div.product form.cart .variations label {
  color: #000;
}

.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message {
  border-top: none;
  line-height: 36px;
}

.woocommerce-checkout #payment ul.payment_methods li img {
  margin: -2px .5em 0 .5em; 
}

.woocommerce .price_slider_amount button.button {
  padding: 8px 16px;
}

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
  color: #fff;
}

.woocommerce-cart table.cart img {
  width: 50px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
  height: 38px;
}

.woocommerce table.shop_table td {
  padding: 15px 20px;
}

.woocommerce table.shop_table {
  border-radius: 0;
}

.woocommerce-page table.cart td.actions {
  padding: 25px;
}

.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
  width: 150px;
  line-height: 22px;
  min-height: 22px;
  padding: 0 10px;
}

.cart_totals h2 {
  font-size: 24px;
}

.woocommerce-checkout #payment {
    background: #fff;
    border-radius: 0;
}

.woocommerce-checkout #payment div.payment_box {
  background: #f5f5f5;
}

.woocommerce-checkout #payment div.payment_box:before{
  border: 1em solid #f5f5f5;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent; 
}

.woocommerce-checkout #payment div.form-row {
    padding: 1em 0;
}

.woocommerce ul.cart_list li dl, 
.woocommerce ul.product_list_widget li dl {
  padding-right: 0;
  border-left: 0;
}

.woocommerce ul.product_list_widget li dl.variation {
  display: none;
 }

.woocommerce.widget_shopping_cart .total {
  padding-top: 12px;
}

.woocommerce-checkout #payment ul.payment_methods {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.woocommerce-checkout #payment div.form-row input.button.alt,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt{
  background: #009C00;
}

.woocommerce-checkout #payment div.form-row input.button.alt:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt:hover {
  background: #006F00;
}


/* cart menu item */
#navigation {
  position: relative;
}

#navigation .woo-cart {
  display: inline-block;
  list-style: none;
  text-align: right;
  padding-right: 30px;
}

.woo-cart-items {
  line-height: 51px;
}

.cart-has-products {
  padding: 3px 7px;
  border-radius: 50px;
  font-size: 13px;
  color: #fff;
}

#navigation  .woo-cart > a {
  color:#fff;
}


.widget.woocommerce.widget_shopping_cart {
  display: block;
}


.woo-cart:hover .widget.woocommerce.widget_shopping_cart {
  display: inline-block;
}

#navigation .woocommerce.widget_shopping_cart {
  z-index: 99;
  position: absolute;
  width: 300px;
  right: 0;
  top: 52px;
  height: auto;
  line-height: normal;
  padding: 25px;
  text-align: left;
  background: #e9eaed;
}

#navigation .woocommerce ul.cart_list li {
  color:#fff;
}

#navigation .woocommerce.widget_shopping_cart .widgettitle {
  display: none;
}

#navigation .woocommerce.widget_shopping_cart ul.cart_list > li {
  height: auto;
  line-height: normal;
   margin-bottom: 12px;
  padding-left: 1em; 
}
.woocommerce form.cart-table{
  overflow-x: scroll;
}
#navigation .woocommerce.widget_shopping_cart .cart_list li a.remove {
  color: #000 !important;
}

#navigation .woocommerce.widget_shopping_cart .cart_list li a.remove:hover {
  color: red !important;
}

#navigation .woocommerce.widget_shopping_cart ul.cart_list > li a.remove:hover{
  background: none;
}

#navigation .woocommerce ul.product_list_widget li span.quantity {
  margin-top: 4px;
}

#navigation .woocommerce.widget_shopping_cart ul.cart_list > li a {
  line-height: 24px;
}

#navigation .woocommerce.widget_shopping_cart ul.cart_list > li span.quantity {
  color: #000;
}

#navigation .woocommerce.widget_shopping_cart {
  display: none;
}

#navigation .woocommerce.widget_shopping_cart .buttons > a.wc-forward{
  text-align: left;
}

#navigation  .woocommerce ul.product_list_widget li img {
  width: 40px;
  margin-left: 8px;
}

#navigation .woocommerce.widget_shopping_cart .buttons > a.wc-forward {
  padding: 8px 12px;
  margin-right: 8px;
  margin-top: 20px;
}

#main-menu .nav>li .widget_shopping_cart_content ul {
  position: relative;
  display: block;
  background: none;
}
.woocommerce ul.product_list_widget li.empty {
    color: #000 !important;
    margin-bottom: 0 !important;
}


#sidebar .woocommerce h3.widget_title{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
  margin: 0 0 10px;
}
#sidebar .woocommerce.widget ul li {
    padding: 5px 0;
}
#sidebar .widget_product_categories ul li span{
    float: right;
}
#sidebar .woocommerce.widget ul li del,
#sidebar .woocommerce.widget ul li ins{
  display: block;
}
